html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search][type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted;
}

[type=reset], [type=submit], button, html [type=button] button, select {
  text-transform: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio, canvas, progress, video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  /* height: 100vh; */
  background-attachment: fixed;
  background-repeat: repeat;
  /* background-color: #fcfbfc; */
  background-image: url(../img/mv02.png);
}

header {
  width: 46%;
  height: 40vh;
  background-color: #f49c9c;
  border-radius: 20px;
  border-bottom: solid 6px #676869;
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.2509803922);
  padding: 60px 10px 40px;
  position: fixed;
  top: 50px;
  left: 50px;
}
header .logo {
  width: 120px;
  height: 120px;
  border-radius: 0.5rem;
  position: relative;
  border-radius: 50%;
  position: relative;
  background: #FFF;
  box-shadow: -20px -10px 50px 5px rgba(0, 0, 0, 0.5) inset;
  top: 10px;
  left: 4px;
}

.pc-nav {
  width: 46%;
  height: 60px;
  border-radius: 20px;
  background: #025BA3;
  overflow: hidden;
  padding: 5px;
  position: fixed;
  bottom: 100px;
  left: 5%;
  overflow: hidden;
}
.pc-nav ul {
  display: flex;
  position: relative;
  /* z-index: 1; */
}
.pc-nav ul li {
  width: 20%;
}
.pc-nav ul li a {
  text-align: center;
  display: block;
  line-height: 50px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.pc-nav ul a:hover {
  color: #222;
  transition: 0.3s;
}
.pc-nav ul .slide {
  position: absolute;
  height: 50px;
  width: 20%;
  left: 0;
  top: 0;
  background: #ffffff;
  z-index: -1;
  border-radius: 20px;
  translate: -120% 0;
}

.pc-nav li:nth-of-type(1):hover ~ .slide {
  translate: 0 0;
  transition: 0.5s;
}

.pc-nav li:nth-of-type(2):hover ~ .slide {
  translate: 100% 0;
  transition: 0.5s;
}

.pc-nav li:nth-of-type(3):hover ~ .slide {
  translate: 200% 0;
  transition: 0.5s;
}

.pc-nav li:nth-of-type(4):hover ~ .slide {
  translate: 300% 0;
  transition: 0.5s;
}

.pc-nav li:nth-of-type(5):hover ~ .slide {
  translate: 400% 0;
  transition: 0.5s;
}

section > h2 {
  padding: 40px;
  text-align: center;
}

.circle {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 100px;
  left: 386px;
  animation: circle 15s linear infinite;
  z-index: 100;
}

@keyframes circle {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
.container {
  width: 480px;
  background-color: #edeaea;
  margin: 50px 50px 50px 0;
  box-shadow: 0 0 6px #269ef4;
  position: relative;
  overflow-x: hidden;
}

#ham-btn {
  display: none;
}

.circle-btn {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: tomato;
  border-bottom-left-radius: 100%;
  z-index: 10;
  display: none;
}
.circle-btn span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 26px;
  right: 26px;
  transition: 0.5s;
}
.circle-btn span::after {
  display: block;
  content: " ";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 16px;
  transition: 0.3s;
}

#ham-btn:checked + .circle-btn > .ham-bar {
  rotate: 45deg;
  top: 30px;
}
#ham-btn:checked + .circle-btn > .ham-bar::after {
  rotate: 90deg;
  top: 0;
}

.sp-nav {
  width: 100px;
  height: 100px;
  background-color: #f49c9c;
  position: absolute;
  border-bottom-left-radius: 100%;
  transition: 0.3s;
  top: 0;
  right: 0;
  display: none;
}

#ham-btn:checked ~ .sp-nav {
  width: 300%;
  height: 300%;
}

.main-visual {
  width: 100%;
  height: 50vh;
  position: relative;
}
.main-visual p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-visual p img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-visual > p:nth-of-type(2) > img {
  -webkit-mask-image: url(../img/mask01.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: -50% -50%;
  -webkit-mask-size: 100% -100%;
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
    -webkit-mask-position: 20% -20%;
  }
  50% {
    -webkit-mask-position: 50% 50%;
    opacity: 1;
  }
  /* 60%{-webkit-mask-position: 50% 50%;opacity: 1;} */
  100% {
    -webkit-mask-position: 100% 100%;
    opacity: 0;
  }
}
.grid-wrapper {
  display: grid;
  /* width: 40% */
  gap: 4px;
}

.grid-box {
  background-color: rgb(226, 250, 202);
  padding: 10px;
}
.grid-box h3 {
  font-size: 30px;
  line-height: 40px;
}
.grid-box .price {
  height: 30px;
  line-height: 40px;
}
.grid-box .item-photo {
  width: 100%;
  height: calc(100% - 70px);
}
.grid-box .item-photo img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-box:nth-of-type(1) {
  grid-row: 1/3;
  grid-column: 1/2;
}

.grid-box:nth-of-type(2) {
  grid-row: 1/2;
  grid-column: 2/3;
}

.grid-box:nth-of-type(3) {
  grid-row: 2/3;
  grid-column: 2/3;
}

.grid-box:nth-of-type(4) {
  grid-row: 3/4;
  grid-column: 1/2;
}

.grid-box:nth-of-type(5) {
  grid-row: 4/5;
  grid-column: 1/2;
}

.grid-box:nth-of-type(6) {
  grid-row: 3/5;
  grid-column: 2/3;
}

.grid-box:nth-of-type(7) {
  grid-row: 5/7;
  grid-column: 1/2;
}

.grid-box:nth-of-type(8) {
  grid-row: 5/6;
  grid-column: 2/3;
}

.grid-box:nth-of-type(9) {
  grid-row: 6/7;
  grid-column: 2/3;
}

.grid-box:nth-of-type(10) {
  grid-row: 7/8;
  grid-column: 1/2;
}

.grid-box:nth-of-type(11) {
  grid-row: 8/9;
  grid-column: 1/2;
}

.grid-box:nth-of-type(12) {
  grid-row: 7/9;
  grid-column: 2/3;
}

@media (max-width: 1200px) {
  header {
    top: 120px;
    left: 10px;
    width: 50%;
    padding: 40px;
  }
  .container {
    margin: 120px 10px 50px 0;
    width: 440px;
  }
  .pc-nav {
    top: 20px;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    width: 80%;
  }
}
@media (max-width: 960px) {
  header {
    width: 40%;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  header, .pc-nav {
    display: none;
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  .circle-btn {
    display: block;
    position: fixed;
  }
  .sp-nav {
    display: block;
    position: fixed;
    z-index: 5;
  }
  .sp-nav ul {
    position: fixed;
    top: 14%;
    left: 10%;
    opacity: 0;
    visibility: hidden;
  }
  .sp-nav ul li {
    margin-bottom: 20px;
  }
  .sp-nav ul a {
    font-size: 30px;
    display: block;
    color: #fff;
    padding: 10px 0;
  }
  #ham-btn:checked ~ .sp-nav > ul {
    opacity: 1;
    visibility: visible;
    transition: 0.3s 0.3s;
  }
}
#shop > p {
  font-size: 20px;
  text-align: center;
  line-height: 2;
}/*# sourceMappingURL=style.css.map */